*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

body{
    background: linear-gradient(135deg, #ff9a9e, #fad0c4, #fbc2eb);
    color: white;
    font-family: 'Comic Neue', cursive;
}

input{
    margin: 2px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(80, 35, 122);
    color: white;
    font-family: 'Comic Neue', cursive;
}

button{
    margin: 2px;
    padding: 5px;
    border-radius: 10px;
    background-color: #3863bf;
    color: white;
    font-family: 'Comic Neue', cursive;
}

button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#gallery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.meme-item{
    width: 200px;
    margin: 5px;
    border-radius: 10px;
}

.meme-item img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.meme-item p{
    background: rgba(255,255,255,0.2);
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 1.1rem;
    max-width: 300px;
    margin: 10px auto;
}